@model Hotel.Data.Data.CMS.About.AboutPage
@{
    ViewData["Title"] = "About";
}
<!-- bradcam_area_start -->
<div class="bradcam_area breadcam_bg" style="background-image:url(@Model.BannerUrl)">
    <h3>@Model.BannerTitle</h3>
</div>
<!-- bradcam_area_end -->
<!-- about_area_start -->
<div class="about_area">
    <div class="container">
        <div class="row">
            <div class="col-xl-5 col-lg-5">
                <div class="about_info">
                    <div class="section_title mb-20px">
                        <span>About Us</span>
                        <h3>
                            @Model.Content1Title
                        </h3>
                    </div>
                    <p>@Model.Content1Description</p>
                    <a href="#" class="line-button">Learn More</a>
                </div>
            </div>
            <div class="col-xl-7 col-lg-7">
                <div class="about_thumb d-flex">
                    <div class="img_1">
                        <img src="@Model.Content1Picture1Url" alt="">
                    </div>
                    <div class="img_2">
                        <img src="@Model.Content1Picture2Url" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- about_area_end -->
<!-- about_info_area_start -->
@await Html.PartialAsync("PartialViews/AboutBanner",(IEnumerable<Hotel.Data.Data.CMS.About.AboutSilderPhoto>)ViewBag.AboutBanner)
<!-- about_info_area_end -->
<!-- about_main_info_start -->
<div class="about_main_info">
    <div class="container">
        <div class="row">
            <div class="col-xl-6 col-md-6">
                <div class="single_about_info">
                    <h3>
                        @Model.Content2Title
                    </h3>
                    <p>
                        @Model.Content2Description
                    </p>
                </div>
            </div>
            <div class="col-xl-6 col-md-6">
                <div class="single_about_info">
                    <h3>
                        @Model.Content3Title
                    </h3>
                    <p>
                        @Model.Content3Description
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- about_main_info_end -->