@{
    ViewData["Title"] = "About";
}
<!-- bradcam_area_start -->
<div class="bradcam_area breadcam_bg" style="background-image:url(@ViewBag.AboutPage.BannerUrl)">
    <h3>@ViewBag.AboutPage.BannerTitle</h3>
</div>
<!-- bradcam_area_end -->
<!-- about_area_start -->
@await Html.PartialAsync("PartialViews/AboutUsPanel",(Hotel.Data.Data.CMS.About.AboutPage)ViewBag.AboutPage)
<!-- about_area_end -->
<!-- about_info_area_start -->
@await Html.PartialAsync("PartialViews/AboutBanner",(IEnumerable<Hotel.Data.Data.CMS.About.AboutSilderPhoto>)ViewBag.AboutBanner)
<!-- about_info_area_end -->
<!-- about_main_info_start -->
<div class="about_main_info">
    <div class="container">
        <div class="row">
            <div class="col-xl-6 col-md-6">
                <div class="single_about_info">
                    <h3>
                        @ViewBag.AboutPage.Content2Title
                    </h3>
                    <p>
                        @ViewBag.AboutPage.Content2Description
                    </p>
                </div>
            </div>
            <div class="col-xl-6 col-md-6">
                <div class="single_about_info">
                    <h3>
                        @ViewBag.AboutPage.Content3Title
                    </h3>
                    <p>
                        @ViewBag.AboutPage.Content3Description
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- about_main_info_end -->