@model Hotel.PortalWWW.Models.BookingModel

<!-- bradcam_area_start -->
<div class="bradcam_area breadcam_bg_1">
    <h3>Avaliable Rooms</h3>
</div>
<!-- bradcam_area_end -->
<style>
    body {
        background-image: url('https://i.imgur.com/zidV3bJ.png');
        background-repeat: no-repeat, repeat;
        background-color: white;
        background-position: center top 27%;
    }

    #content {
        margin-left: 8%;
    }

    #setings {
        background-color: white;
        height: max-content;
        width: 72%;
        margin: 2% 0 0 2%;
        padding: 1%;
        border-radius: 7px;
        font-weight: bold;
        font-size: 20px;
        float: left;
    }

    #setings span {
        border: 1px solid lightgray;
        width: 40%;
        padding: 0.5% 2% 0.5%;
        display: flex;
        float: left;
        border-radius: 15px;
        margin-left: 4%;
        }

    #setings img {
        width: 20px;
        height: 20px;
        margin-right: 3%;
        }

    #summary {
        background-color: white;
        height: max-content;
        width: 18%;
        margin: 2%;
        padding: 1.8%;
        border-radius: 7px;
        font-size: 20px;
        float: left;
        font-size: medium;
    }

    #offers {
        background-color: white;
        height: fit-content;
        width: 68%;
        position: relative;
        border-radius: 7px;
        font-size: 20px;
        float: left;
        margin-left: 2%;
    }

    #offers img {
            width: 30%;
            border-radius: 5px;
            float: left;
    }

    #description {
        float: left;
        padding: 2%;
        float: left;
    }

    #price {
        padding-top: 4%;
        text-align: center;
    }

    button {
        display: inline-block;
        border: 2px solid #02464F;
        background-color: #02464F;
        color: white;
        padding: 1% 1.5%;
        font-size: 16px;
        cursor: pointer;
        text-align: center;
        margin-left: 2%;
        border-radius: 15px;
        text-decoration: none;
    }

    #rooms {
        float: left;
        height: 500px;
        overflow-y: scroll;
        margin-top: -15%;
    }

        #rooms::-webkit-scrollbar {
            display: none;
        }

    #zzz {
        float: left;
        clear: both;
        width:100%;
        padding-bottom:10%;
    }

    .popup {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.7);
        justify-content: center;
        align-items: center;
    }

    .popup-content {
        background: white;
        padding: 20px;
        border-radius: 10px;
        text-align: center;
        max-width: 60%; /* Maksymalna szerokość popupa */
        max-height: 40%; /* Maksymalna wysokość popupa */
        margin: 0 auto; /* Wyśrodkowanie popupa na ekranie */
    }

    #popup-image {
        width: 40%;
        height: 30%;
        float: left; /* Przesunięcie obrazka na lewą stronę */
        margin-right: 20px; /* Dodatkowy margines po prawej stronie obrazka */
    }

    #noAvailable
    {
        font-size:x-large;
        margin-left:15%;
        width:100%;
        background-color:white;
    }
    
</style>
    <div id="content">
        <div id="setings">
        <a class="popup-with-form" href="#test-form">
           <span>
           <img src="https://i.imgur.com/hBfDNBV.png">
                @ViewBag.CheckIn - @ViewBag.CheckOut
            </span>
        </a>
        <span style="margin-left: 10%;">
                <img src="https://i.imgur.com/1wdIpUZ.png">
            @ViewBag.Adults
            @if (ViewBag.Adults == 1)
            {
                @:adult
            }
            else
            {
                @:adults
            }

            @if (ViewBag.Children > 0)
            {
                @ViewBag.Children
                @if (ViewBag.Children == 1)
                {
                    @:child
                }
                else
                {
                    @:children
                }
            }
            </span>
        </div>
        <div id="summary">
        <b>@ViewBag.CheckIn <span style="padding: 0 6% 0;">&rarr;</span> @ViewBag.CheckOut<br><br></b>
            <span style="font-size: small;">Number of people</span><br>
        @ViewBag.Adults
        @if (ViewBag.Adults == 1)
        {
            <span>adult</span>
        }
        else
        {
            <span>adults</span>
        }
        @if (ViewBag.Children > 0)
        {
            @ViewBag.Children
            @if (ViewBag.Children == 1)
            {
                <span>child</span>
            }
            else
            {
                <span>children</span>
            }
        }
            <table>
                <tr>
                    <td style="width: 80%;">Stay value</td>
                    <td>$000</td>
                </tr>
                <tr>
                    <td>Value of services</td>
                    <td>$000</td>
                </tr>
            </table>
            <hr>
            <table>
                <tr style="width: 80%;font-size:larger;font-weight: bold;">
                    <td style="width: 80%;">Total:</td>
                    <td>$000</td>
                </tr>
                <tr style="width: 80%;font-size:small;">
                    <td>Prepayment</td>
                    <td style="text-align: right;">$000</td>
                </tr>
                <tr style="width: 80%;font-size:small;">
                    <td>Upon arrival</td>
                    <td style="text-align: right;">$000</td>
                </tr>
            </table>
        </div>
    

        <div id="rooms">
        <div id="noAvailable">
            @ViewBag.Message
            </div>
            <table style="float: left;width: 114%;">
            @foreach (var room in Model.types)
            {
                <tr>
                    <td>
                        <div id="offers">
                            <div>
                                <img src="@room.PhotosURL" alt="Room Image">
                            </div>
                            <div id="description">
                                @room.Name
                                <ul>
                                    @foreach (var facility in room.Facilities)
                                    {
                                        <li>@facility.NameFacility</li>
                                    }
                                </ul>
                            </div>
                            
                            <div id="price">
                                Price from<br>
                                <b>Tu byla cena</b><br><br>
                                <a href="/Booking/Form?typeId=@room.IdType&checkIn=@ViewBag.CheckIn&checkOut=@ViewBag.CheckOut&adults=@ViewBag.Adults&children=@ViewBag.Children"><button id="button" style="display: inline-block; margin-right: 10px;">Select room</button></a>
                            </div>
                            <a style="padding-left:2%;color:darkgoldenrod;" class="popup-link"
                               data-image-url="@room.PhotosURL"
                               data-description="@room.Description"
                               data-title="@room.Name"
                               data-id="@room.IdType"
                               data-room-id="@room.IdType">Read more @room.IdType</a>


                            <div class="popup" id="popup">
                                <div class="popup-content">
                                    <img id="popup-image" src="" alt="Room Image">
                                    <div style="padding-bottom:2.5%; color:#02464F; font-weight:bold; font-size:200%" id="popup-title"></div>
                                    <div id="popup-description"></div>
                                    <div id="popup-facilties" style="margin-top:2%;float:left;text-align:left;width:40em;height:5em">
                                        <div id="popup-type"></div>
                                        <ul style="list-style:square;border:1px solid black">
                                            @foreach (var facility in room.Facilities)
                                            {
                                                if (room.Facilities.Any(f => f.IdFacility == facility.IdFacility))
                                                {
                                                    @*<li>To jest ID: @facility.IdFacility</li>*@
                                                    <li>@facility.NameFacility</li>
                                                }
                                            }
                                        </ul>

                                    </div>
                                    <button id="close-popup" style="float:right;">Close</button>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
                
            }
            </table>
        </div>
    </div>
<div id="zzz"></div>

<script>
    //document.addEventListener("DOMContentLoaded", function () {
    //    var selectedRoomTypeId = 4
    //    var popup = document.getElementById("popup");
    //    var popupImage = document.getElementById("popup-image");
    //    var popupDescription = document.getElementById("popup-description");
    //    var popupType = document.getElementById("popup-type");
    //    var popupTitle = document.getElementById("popup-title");
    //    var popupFacilities = document.getElementById("popup-facilities");
    //    var closePopupButton = document.getElementById("close-popup");

    //    var popupLinks = document.querySelectorAll(".popup-link");

    //    popupLinks.forEach(function (link) {
    //        link.addEventListener("click", function () {
    //            var imageUrl = link.getAttribute("data-image-url");
    //            var description = link.getAttribute("data-description");
    //            var title = link.getAttribute("data-title");
    //            var typeid = link.getAttribute("data-id");


    //            popupImage.src = imageUrl;
    //            popupDescription.innerText = description;
    //            popupTitle.innerText = title;
    //            //popupFacilities.innerText=title;
    //            //popupFacilities.innerHTML = str1;
    //            popupType.innerText = typeid;

    //            popup.style.zIndex = 100;
    //            popup.style.display = "flex";
    //        });
    //    });

    //    closePopupButton.addEventListener("click", function () {
    //        popup.style.display = "none";
    //    });
    //});

    //document.addEventListener("DOMContentLoaded", function () {
    //    var selectedRoomTypeId = 
    //    var popup = document.getElementById("popup");
    //    var popupImage = document.getElementById("popup-image");
    //    var popupDescription = document.getElementById("popup-description");
    //    var popupType = document.getElementById("popup-type");
    //    var popupTitle = document.getElementById("popup-title");
    //    var popupFacilities = document.getElementById("popup-facilities");
    //    var closePopupButton = document.getElementById("close-popup");

    //    var currentRoomId; // Nowa zmienna przechowująca bieżący identyfikator pokoju

    //    var popupLinks = document.querySelectorAll(".popup-link");

    //    popupLinks.forEach(function (link) {
    //        link.addEventListener("click", function () {
    //            var imageUrl = link.getAttribute("data-image-url");
    //            var description = link.getAttribute("data-description");
    //            var title = link.getAttribute("data-title");
    //            var typeid = link.getAttribute("data-id");

    //            // Dodaj zmienną przechowującą bieżący identyfikator pokoju
    //            currentRoomId = link.getAttribute("data-room-id");

    //            popupImage.src = imageUrl;
    //            popupDescription.innerText = description;
    //            popupTitle.innerText = title;
    //            popupType.innerText = typeid;
                

    //            popup.style.zIndex = 100;
    //            popup.style.display = "flex";
    //        });
    //    });

    //    closePopupButton.addEventListener("click", function () {
    //        popup.style.display = "none";
    //        currentRoomId = null; // Zresetuj bieżący identyfikator pokoju po zamknięciu popup'a
    //    });
    //});

    document.addEventListener("DOMContentLoaded", function () {
        var popup = document.getElementById("popup");
        var popupImage = document.getElementById("popup-image");
        var popupDescription = document.getElementById("popup-description");
        var popupType = document.getElementById("popup-type");
        var popupTitle = document.getElementById("popup-title");
        var popupFacilities = document.getElementById("popup-facilities");
        var closePopupButton = document.getElementById("close-popup");

        var currentRoomId; // Nowa zmienna przechowująca bieżący identyfikator pokoju

        var popupLinks = document.querySelectorAll(".popup-link");

        popupLinks.forEach(function (link) {
            link.addEventListener("click", function () {
                var imageUrl = link.getAttribute("data-image-url");
                var description = link.getAttribute("data-description");
                var title = link.getAttribute("data-title");
                var typeid = link.getAttribute("data-id");

                // Dodaj zmienną przechowującą bieżący identyfikator pokoju
                currentRoomId = link.getAttribute("data-room-id");

                popupImage.src = imageUrl;
                popupDescription.innerText = description;
                popupTitle.innerText = title;
                popupType.innerText = typeid;

                popup.style.zIndex = 100;
                popup.style.display = "flex";
            });
        });

        closePopupButton.addEventListener("click", function () {
            popup.style.display = "none";
            currentRoomId = null; // Zresetuj bieżący identyfikator pokoju po zamknięciu popup'a
        });
    });



</script>