@model IEnumerable<Hotel.Data.Data.Booking.Options>

<div class="content container-fluid">
    <div class="page-header">
        <div class="row align-items-center">
            <div class="col">
                <div class="mt-5">
                    <h4 class="card-title float-left mt-2">Options</h4>
                    <a asp-action="Create" class="btn btn-primary float-right veiwbutton ">Add Option</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="card card-table">
                <div class="card-body booking_card">
                    <div class="table-responsive">
                        <table class="datatable table table-stripped table table-hover table-center mb-0">
                            <thead>
                                <tr>
                                    <th>Option ID</th>
                                    <th>Name</th>
                                    <th>Photo</th>
                                    <th>Content items</th>
                                    <th>Price</th>
                                    <th>Start Date</th>
                                    <th>End Date</th>
                                    <th class="text-right">Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var option in Model)
                                {
                                    <tr>
                                        <td>@option.IdOption</td>
                                        <td>@option.Name</td>
                                        <td><img src="@option.PhotoUrl" width="180" height="100"/></td>
                                        <td>
                                            @foreach (var o in option.ContentItems)
                                            {
                                                <ul>
                                                    <li>@o.Title</li>
                                                </ul>
                                            }
                                        </td>
                                        <td>@option.Price</td>
                                        <td>@option.StartDate.ToString("dd-MM-yyyy")</td>
                                        <td>@option.EndDate.ToString("dd-MM-yyyy")</td>
                                        <td>
                                            @if (option.IsActive)
                                            {
                                                <div class="actions">
                                                    <a href="#" class="btn btn-sm bg-success-light mr-2">Active</a>
                                                </div>
                                            }
                                            else
                                            {
                                                <div class="actions">
                                                    <a href="#" class="btn btn-sm bg-danger-light mr-2">Inactive</a>
                                                </div>
                                            }
                                        </td>
                                        <td class="text-right">
                                            <div class="dropdown dropdown-action">
                                                <a href="#" class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fas fa-ellipsis-v ellipse_color"></i></a>
                                                <div class="dropdown-menu dropdown-menu-right">
                                                    <a class="dropdown-item" asp-action="Edit" asp-route-id="@option.IdOption"><i class="fas fa-pencil-alt m-r-5"></i> Edit</a>
                                                    <a class="dropdown-item" href="#" onclick="confirmDelete(@option.IdOption)"><i class="fas fa-trash-alt m-r-5"></i> Delete</a>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="delete_asset" class="modal fade delete-modal" role="dialog">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body text-center">
                <h3 class="delete_class">Are you sure?</h3>
                <div class="m-t-20">
                    <a href="#" class="btn btn-white" data-dismiss="modal">Close</a>
                    <button type="button" class="btn btn-danger" onclick="deleteOption()">Delete</button>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    var optionIdToDelete;

    function confirmDelete(optionId) {
        optionIdToDelete = optionId;
        $('#delete_asset').modal('show');
    }

    function deleteOption() {
        window.location.href = '/Options/Delete/' + optionIdToDelete;
    }
</script>
