@model IEnumerable<Hotel.Data.Data.Booking.Extensions.Types>

@{
    ViewData["Title"] = "Index";
}

<div class="content container-fluid">
    <div class="page-header">
        <div class="row align-items-center">
            <div class="col">
                <div class="mt-5">
                    <h4 class="card-title float-left mt-2">Types</h4>
                    <a asp-action="Create" class="btn btn-primary float-right veiwbutton ">Add Type</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="card card-table">
                <div class="card-body booking_card">
                    <div class="table-responsive">
                        <table class="datatable table table-stripped table table-hover table-center mb-0">
                            <thead>
                                <tr>
                                    <th>Type ID</th>
                                    <th>Name</th>
                                    <th>PhotosURL</th>
                                    <th>Description</th>
                                    <th>Rooms</th>
                                    <th>Size</th>
                                    <th>Facilities</th>
                                    <th>Max</th>
                                    <th>Status</th>
                                    <th class="text-right">Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var type in Model)
                                {
                                    <tr>
                                        <td>@type.IdType</td>
                                        <td>@type.Name</td>
                                        <td><img src="@type.PhotosURL" width="180" height="100" /></td>
                                        <td style="white-space: pre-wrap;">@type.Description</td>
                                        <td>
                                            @{
                                                var roomNumbers = type.Rooms.Select(r => r.Number);
                                                @string.Join(",", roomNumbers)
                                            }
                                        </td>
                                        <td>@type.Size</td>
                                        <td>
                                            @foreach (var o in type.Facilities)
                                            {
                                                <ul>
                                                    <li>@o.NameFacility</li>
                                                </ul>
                                            }
                                        </td>
                                        <td>@type.MaxAmountOfPeople</td>
                                        <td>
                                            @if (type.IsActive)
                                            {
                                                <div class="actions">
                                                    <a href="#" class="btn btn-sm bg-success-light mr-2">Active</a>
                                                </div>
                                            }
                                            else
                                            {
                                                <div class="actions">
                                                    <a href="#" class="btn btn-sm bg-danger-light mr-2">Inactive</a>
                                                </div>
                                            }
                                        </td>
                                        <td class="text-right">
                                            <div class="dropdown dropdown-action">
                                                <a href="#" class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fas fa-ellipsis-v ellipse_color"></i></a>
                                                <div class="dropdown-menu dropdown-menu-right">
                                                    <a class="dropdown-item" asp-action="Edit" asp-route-id="@type.IdType"><i class="fas fa-pencil-alt m-r-5"></i> Edit</a>
                                                    <a class="dropdown-item" href="#" onclick="confirmType(@type.IdType)"><i class="fas fa-trash-alt m-r-5"></i> Delete</a>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="delete_asset" class="modal fade delete-modal" role="dialog">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body text-center">
                <h3 class="delete_class">Are you sure?</h3>
                <div class="m-t-20">
                    <a href="#" class="btn btn-white" data-dismiss="modal">Close</a>
                    <button type="button" class="btn btn-danger" onclick="deleteType()">Delete</button>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    var typeIdToDelete;

    function confirmType(typeId) {
        typeIdToDelete = typeId;
        $('#delete_asset').modal('show');
    }

    function deleteType() {
        window.location.href = '/Types/Delete/' + typeIdToDelete;
    }
</script>
