@model BookingModel
<!doctype html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Montana</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- <link rel="manifest" href="site.webmanifest"> -->
    <link rel="shortcut icon" type="~/lib/bootstrap/image/x-icon" href="~/lib/bootstrap/~/lib/bootstrap/img/favicon.png">
    <!-- Place favicon.ico in the root directory -->
    <!-- CSS here -->
    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/lib/bootstrap/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/lib/bootstrap/css/magnific-popup.css">
    <link rel="stylesheet" href="~/lib/bootstrap/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/lib/bootstrap/css/themify-icons.css">
    <link rel="stylesheet" href="~/lib/bootstrap/css/nice-select.css">
    <link rel="stylesheet" href="~/lib/bootstrap/css/flaticon.css">
    <link rel="stylesheet" href="~/lib/bootstrap/css/gijgo.css">
    <link rel="stylesheet" href="~/lib/bootstrap/css/animate.css">
    <link rel="stylesheet" href="~/lib/bootstrap/css/slicknav.css">
    <link rel="stylesheet" href="~/lib/bootstrap/css/style.css">
    <!-- <link rel="stylesheet" href="css/responsive.css"> -->
</head>
<header>
    <div class="header-area ">
        <div id="sticky-header" class="main-header-area">
            <div class="container-fluid p-0">
                <div class="row align-items-center no-gutters">
                    <div class="col-xl-5 col-lg-6">
                        <div class="main-menu  d-none d-lg-block">
                            <nav>
                                <ul id="navigation">
                                    <li><a @*class="active"*@ href="@Url.Action("Index","Home")">home</a></li>
                                    <li><a href="@Url.Action("Rooms","Home")">rooms</a></li>
                                    <li><a href="@Url.Action("About","Home")">About</a></li>
                                    <li><a href="@Url.Action("Blog","Home")">blog</a></li>
                                    <li><a href="@Url.Action("Contact","Home")">contact</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                    <div class="col-xl-2 col-lg-2">
                        <div class="logo-img">
                            <a href="@Url.Action("Index","Home")">
                                <img src="https://i.imgur.com/rlyrnOK.png" alt="Logo">
                            </a>
                        </div>
                    </div>
                    <div class="col-xl-5 col-lg-4 d-none d-lg-block">
                        <div class="book_room">
                            <div class="socail_links">
                                <ul>
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-facebook-square"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-twitter"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-instagram"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="book_btn d-none d-lg-block">
                                <a class="popup-with-form" href="#test-form">Book A Room</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="mobile_menu d-block d-lg-none"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<body>
    <!--[if lte IE 9]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
        <![endif]-->
    <!-- header-start -->
    @* naglowek tez jest w body*@
    <!-- header-end -->
    @RenderBody()

    <!-- forQuery_start -->
    <div class="forQuery">
        <div class="container">
            <div class="row">
                <div class="col-xl-10 offset-xl-1 col-md-12">
                    <div class="Query_border">
                        <div class="row align-items-center justify-content-center">
                            <div class="col-xl-6 col-md-6">
                                <div class="Query_text">
                                    <p>For Reservation 0r Query?</p>
                                </div>
                            </div>
                            <div class="col-xl-6 col-md-6">
                                <div class="phone_num">
                                    <a href="#" class="mobile_no">+10 576 377 4789</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- forQuery_end-->
    <!-- instragram_area_start -->
    <div class="instragram_area">
        <div class="single_instagram">
            <img src="~/lib/bootstrap/img/instragram/1.png" alt="">
            <div class="ovrelay">
                <a href="#">
                    <i class="fa fa-instagram"></i>
                </a>
            </div>
        </div>
        <div class="single_instagram">
            <img src="~/lib/bootstrap/img/instragram/2.png" alt="">
            <div class="ovrelay">
                <a href="#">
                    <i class="fa fa-instagram"></i>
                </a>
            </div>
        </div>
        <div class="single_instagram">
            <img src="~/lib/bootstrap/img/instragram/3.png" alt="">
            <div class="ovrelay">
                <a href="#">
                    <i class="fa fa-instagram"></i>
                </a>
            </div>
        </div>
        <div class="single_instagram">
            <img src="~/lib/bootstrap/img/instragram/4.png" alt="">
            <div class="ovrelay">
                <a href="#">
                    <i class="fa fa-instagram"></i>
                </a>
            </div>
        </div>
        <div class="single_instagram">
            <img src="~/lib/bootstrap/img/instragram/5.png" alt="">
            <div class="ovrelay">
                <a href="#">
                    <i class="fa fa-instagram"></i>
                </a>
            </div>
        </div>
    </div>
    <!-- instragram_area_end -->
    <!-- footer -->
    <footer class="footer">
        <div class="footer_top">
            <div class="container">
                <div class="row">
                    <div class="col-xl-3 col-md-6 col-lg-3">
                        <div class="footer_widget">
                            <h3 class="footer_title">
                                address
                            </h3>
                            <p class="footer_text">
                                200, Green road, Mongla, <br>
                                New Yor City USA
                            </p>
                            <a href="#" class="line-button">Get Direction</a>
                        </div>
                    </div>
                    <div class="col-xl-3 col-md-6 col-lg-3">
                        <div class="footer_widget">
                            <h3 class="footer_title">
                                Reservation
                            </h3>
                            <p class="footer_text">
                                +10 367 267 2678 <br>
                                reservation@montana.com
                            </p>
                        </div>
                    </div>
                    <div class="col-xl-2 col-md-6 col-lg-2">
                        <div class="footer_widget">
                            <h3 class="footer_title">
                                Navigation
                            </h3>
                            <ul>
                                <li><a href="@Url.Action("Index","Home")">Home</a></li>
                                <li><a href="@Url.Action("Rooms","Home")">Rooms</a></li>
                                <li><a href="@Url.Action("About","Home")">About</a></li>
                                <li><a href="@Url.Action("Blog","Home")">Blog</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-4 col-md-6 col-lg-4">
                        <div class="footer_widget">
                            <h3 class="footer_title">
                                Newsletter
                            </h3>
                            <form action="#" class="newsletter_form">
                                <input type="text" placeholder="Enter your mail">
                                <button type="submit">Sign Up</button>
                            </form>
                            <p class="newsletter_text">Subscribe newsletter to get updates</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="copy-right_text">
            <div class="container">
                <div class="footer_border"></div>
                <div class="row">
                    <div class="col-xl-8 col-md-7 col-lg-9">
                        <p class="copy_right">
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                            Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    </div>
                    <div class="col-xl-4 col-md-5 col-lg-3">
                        <div class="socail_links">
                            <ul>
                                <li>
                                    <a href="#">
                                        <i class="fa fa-facebook-square"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fa fa-twitter"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fa fa-instagram"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!-- link that opens popup -->
    <!-- form itself end-->
    <form id="test-form" class="white-popup-block mfp-hide" action="/Booking/Index" method="get">
        <div class="popup_box ">
            <div class="popup_inner">
                <h3>Check Availability</h3>
                <div class="row">
                    <div class="col-xl-6">
                        <input name="checkin" id="datepicker" placeholder="Check in date" type="text">
                    </div>
                    <div class="col-xl-6">
                        <input name="checkout" id="datepicker2" placeholder="Check out date" type="text">
                    </div>
                    <div class="col-xl-6">
                        <select class="form-select wide" id="default-select-adult" name="adults">
                            <option data-display="Adult">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                        </select>
                    </div>
                    <div class="col-xl-6">
                        <select class="form-select wide" id="default-select-children" name="children">
                            <option data-display="Children">0</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                        </select>
                    </div>
                    <div class="col-xl-12">
                        <button type="submit" class="boxed-btn3">Check Availability</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <!-- form itself end -->
    <!-- JS here -->
    <script src="~/lib/bootstrap/js/vendor/modernizr-3.5.0.min.js"></script>
    <script src="~/lib/bootstrap/js/vendor/jquery-1.12.4.min.js"></script>
    <script src="~/lib/bootstrap/js/popper.min.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/lib/bootstrap/js/owl.carousel.min.js"></script>
    <script src="~/lib/bootstrap/js/isotope.pkgd.min.js"></script>
    <script src="~/lib/bootstrap/js/ajax-form.js"></script>
    <script src="~/lib/bootstrap/js/waypoints.min.js"></script>
    <script src="~/lib/bootstrap/js/jquery.counterup.min.js"></script>
    <script src="~/lib/bootstrap/js/imagesloaded.pkgd.min.js"></script>
    <script src="~/lib/bootstrap/js/scrollIt.js"></script>
    <script src="~/lib/bootstrap/js/jquery.scrollUp.min.js"></script>
    <script src="~/lib/bootstrap/js/wow.min.js"></script>
    <script src="~/lib/bootstrap/js/nice-select.min.js"></script>
    <script src="~/lib/bootstrap/js/jquery.slicknav.min.js"></script>
    <script src="~/lib/bootstrap/js/jquery.magnific-popup.min.js"></script>
    <script src="~/lib/bootstrap/js/plugins.js"></script>
    <script src="~/lib/bootstrap/js/gijgo.min.js"></script>

    <!--contact js-->
    <script src="~/lib/bootstrap/js/contact.js"></script>
    <script src="~/lib/bootstrap/js/jquery.ajaxchimp.min.js"></script>
    <script src="~/lib/bootstrap/js/jquery.form.js"></script>
    <script src="~/lib/bootstrap/js/jquery.validate.min.js"></script>
    <script src="~/lib/bootstrap/js/mail-script.js"></script>

    <script src="~/lib/bootstrap/js/main.js"></script>
    <script>
        $('#datepicker').datepicker({
            iconsLibrary: 'fontawesome',
            icons: {
                rightIcon: '<span class="fa fa-caret-down"></span>'
            }
        });
        $('#datepicker2').datepicker({
            iconsLibrary: 'fontawesome',
            icons: {
                rightIcon: '<span class="fa fa-caret-down"></span>'
            }

        });
    </script>



</body>

</html>