@model IEnumerable<Hotel.Data.Data.Booking.Reservation>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Room)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CheckIn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CheckOut)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumberOfAdults)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumberOfChildren)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SpecialRequests)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsActive)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AddedBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AddedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ModifiedBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ModifiedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RemovedBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RemovedDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CheckIn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CheckOut)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumberOfAdults)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumberOfChildren)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SpecialRequests)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsActive)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AddedBy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AddedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ModifiedBy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ModifiedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RemovedBy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RemovedDate)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdReservation">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdReservation">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdReservation">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
