@{
    ViewData["Title"] = "Home Page";
}

<div class="content container-fluid">
	<div class="page-header">
		<div class="row">
			<div class="col-sm-12 mt-5">
				<h3 class="page-title mt-3">Good Morning!</h3>
				<ul class="breadcrumb">
					<li class="breadcrumb-item active">Dashboard</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-xl-3 col-sm-6 col-12">
			<div class="card board1 fill">
				<div class="card-body">
					<div class="dash-widget-header">
						<div>
							<h3 class="card_widget_header">@ViewBag.Reservations.Count</h3>
							<h6 class="text-muted">Total Reservation in this month</h6>
						</div>
						<div class="ml-auto mt-md-3 mt-lg-0">
							<span class="opacity-7 text-muted">
								<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewbox="0 0 24 24" fill="none" stroke="#009688" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-user-plus">
									<path d="M16 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path>
									<circle cx="8.5" cy="7" r="4"></circle>
									<line x1="20" y1="8" x2="20" y2="14"></line>
									<line x1="23" y1="11" x2="17" y2="11"></line>
								</svg>
							</span>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-xl-3 col-sm-6 col-12">
			<div class="card board1 fill">
				<div class="card-body">
					<div class="dash-widget-header">
						<div>
							<h3 class="card_widget_header">@ViewBag.avaliable</h3>
							<h6 class="text-muted">Rooms available for today's night</h6>
						</div>
						<div class="ml-auto mt-md-3 mt-lg-0">
							<span class="opacity-7 text-muted">
								<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewbox="0 0 24 24" fill="none" stroke="#009688" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-dollar-sign">
									<line x1="12" y1="1" x2="12" y2="23"></line>
									<path d="M17 5H9.5a3.5 3.5 0 0 0 0 7h5a3.5 3.5 0 0 1 0 7H6"></path>
								</svg>
							</span>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-xl-3 col-sm-6 col-12">
			<div class="card board1 fill">
				<div class="card-body">
					<div class="dash-widget-header">
						<div>
							<h3 class="card_widget_header">@ViewBag.Occupancy %</h3>
							<h6 class="text-muted">Today's Occupancy</h6>
						</div>
						<div class="ml-auto mt-md-3 mt-lg-0">
							<span class="opacity-7 text-muted">
								<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewbox="0 0 24 24" fill="none" stroke="#009688" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-file-plus">
									<path d="M14 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V8z">
									</path>
									<polyline points="14 2 14 8 20 8"></polyline>
									<line x1="12" y1="18" x2="12" y2="12"></line>
									<line x1="9" y1="15" x2="15" y2="15"></line>
								</svg>
							</span>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-xl-3 col-sm-6 col-12">
			<div class="card board1 fill">
				<div class="card-body">
					<div class="dash-widget-header">
						<div>
							<h3 class="card_widget_header">@ViewBag.TotalCapacity</h3>
							<h6 class="text-muted">Total capacity</h6>
						</div>
						<div class="ml-auto mt-md-3 mt-lg-0">
							<span class="opacity-7 text-muted">
								<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewbox="0 0 24 24" fill="none" stroke="#009688" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-globe">
									<circle cx="12" cy="12" r="10"></circle>
									<line x1="2" y1="12" x2="22" y2="12"></line>
									<path d="M12 2a15.3 15.3 0 0 1 4 10 15.3 15.3 0 0 1-4 10 15.3 15.3 0 0 1-4-10 15.3 15.3 0 0 1 4-10z">
									</path>
								</svg>
							</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12 col-lg-6">
			<div class="card card-chart">
				<div class="card-header">
					<h4 class="card-title">STATS</h4>
				</div>
				<div class="card-body">
					<div id="line-chart"></div>
				</div>
			</div>
		</div>
		<div class="col-md-12 col-lg-6">
			<div class="card card-chart">
				<div class="card-header">
					<h4 class="card-title">MOST POPULAR ROOM IN THIS MONTH</h4>
				</div>
				<div class="card-body">
					<div id="donut-chart"></div>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12 d-flex">
			<div class="card card-table flex-fill">
				<div class="card-header">
					<h4 class="card-title float-left mt-2">Booking</h4>
					<button type="button" class="btn btn-primary float-right veiwbutton"><a style="color:white" asp-area="" asp-controller="Reservations" asp-action="Index">View All</a></button>
				</div>
				<div class="card-body">
					<div class="table-responsive">
						<table class="table table-hover table-center">
							<thead>
								<tr>
									<th>Booking ID</th>
									<th>Room Number</th>
									<th>Name</th>
									<th>CheckIn</th>
									<th>CheckOut</th>
									<th class="text-center">Status</th>
									<th class="text-center">Total Price</th>
								</tr>
							</thead>
							<tbody>
								@foreach(var res in ViewBag.ActiveReservations)
								{
									<tr>
										<td class="text-nowrap">
											<div>@res.IdReservation</div>
										</td>
										<td class="text-nowrap">@res.RoomId</td>
										<td class="text-nowrap">
											<div>@res.Name</div>
										</td>
										<td>@res.CheckIn.ToString("dd-MM-yyyy")</td>
										<td>@res.CheckOut.ToString("dd-MM-yyyy")</td>
										<td class="text-center"> <span class="badge badge-pill bg-success inv-badge">@res.IsActive</span> </td>
										<td>@res.TotalPrice</td>
									</tr>
								}
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<script>
	function donutChart() {
		var data = [
	@foreach (var type in ViewBag.RoomTypes)
	{
		var reservationCount = ViewBag.ReservationsByType.ContainsKey(type.IdType) ?
		ViewBag.ReservationsByType[type.IdType] : 0;
		<text>{ label: "@type.Name", value: "@reservationCount" }, </text>

	}
	];

		window.donutChart = Morris.Donut({
			element: 'donut-chart',
			data: data,
			backgroundColor: '#f2f5fa',
			labelColor: '#009688',
			colors: ['#0BA462', '#39B580', '#67C69D', '#95D7BB'],
			resize: true,
			redraw: true
		});
	}

	// Wywołaj funkcję po załadowaniu strony
	document.addEventListener("DOMContentLoaded", function () {
		donutChart();
	});

	function lineChart() {
		var data = [
	@foreach (var res in ViewBag.Last3MonthsReservations)
	{
		<text>{ y: '@($"{res.CheckOut.Year}-{res.CheckOut.Month:D2}")', a: '@res.Count' }, </text>
	}
		];

		window.lineChart = Morris.Line({
			element: 'line-chart',
			data: data,
			xkey: 'y',
			ykeys: ['a'],
			labels: ['Rezerwacje'],
			lineColors: ['#009688', '#cdc6c6'],
			lineWidth: '3px',
			resize: true,
			redraw: true,
			xLabels: 'year',
			xLabelFormat: function (date) {
				return date.getFullYear() + '-' + (date.getMonth() + 1).toString().padStart(2, '0');
			}
		});
	}

	document.addEventListener("DOMContentLoaded", function () {
		lineChart();
	});

</script>
